:root {
    --main-color: #D12A2A;
    --secondary-color: #747496;
    --third-color: #A7A6DD;
    --clear-color: #EFEDFF;
    --dark-color: #2F4858;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inactive {
    display: none;
}

.navbar {
    background-color: var(--main-color);
}

.navbar a {
    color: var(--clear-color);
    cursor: pointer;
}


.category-title:hover {
    cursor: pointer;
    background-color: var(--dark-color);
    color: var(--clear-color);
    border-radius: 5px;
    padding: 5px;
}

.trendingPreview-header {
    justify-content: space-between;
    color: var(--dark-color);
}
.trendingPreview-btn {
    color: var(--dark-color);
}
.trendingPreview-movieList {
    overflow-x: hidden;
    /*overflow-y: hidden;*/
    white-space: nowrap;
    height: 241px;
    padding-left: 24px;
    padding-bottom: 16px;
}
.movie-container {
    position: relative;
}
.movie-container .movie-img {
    height: 225px;
    min-height: 225px;
    max-height: 225px;
    width: 150px;
    min-width: 150px;
    max-width: 150px;
}
/*.movie-img {
    min-height: 200px;
}*/
.movie-container:hover {
    cursor: pointer;
}
.movie-btn {
    position: absolute;
    top: 5px;
    right: 25px;
    height: 30px;
    width: 30px;
    border-radius: 30px;
    padding: 0;
    margin: 0;
}
.movie-btn::before {
    content: '🖤';
}
.movie-btn--liked {
    background-color: var(--third-color);
}
.movie-btn--liked::before {
    content: '❤';
}

.relatedMovies-scrollContainer {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    width: calc(100vw - 24px);
    padding-bottom: 16px;
}

footer {
    background-color: var(--secondary-color);
    color: var(--clear-color);
}

/*Animations para el loading skeleton*/
.movie-container--loading {
    background-color: var(--third-color);
    border-radius: 8px;
    height: 225px;
    min-height: 225px;
    max-height: 225px;
    width: 150px;
    min-width: 150px;
    max-width: 150px;
    margin-right: 15px;
    animation: loading-skeleton infinite 1.5s;
}
.movie-container--loading:nth-child(2) {
    animation-delay: .2s;
}
.movie-container--loading:nth-child(3) {
    animation-delay: .3s;
}

@keyframes loading-skeleton {
    0%, 100% {
        opacity: 100%;
    }
    50% {
        opacity: 0%;
    }
}